################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-6ddc102c4cc920d4444a.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-OOP_Lab1-Debug-420aa847ca67683f167a.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2022-10-01T17-49-02-0830.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-e47b36262b71cee55948.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-13854bd880b977898edb.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-3e9edc578ff3bc28a4c3.json
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/OOP/v17/ipch/AutoPCH/23c16ec155240e77/MAIN.ipch
/.vs/OOP/v17/ipch/AutoPCH/23c16ec155240e77
/.vs/OOP/v17/Browse.VC.opendb
/.vs/OOP/v17/Browse.VC.db-wal
/.vs/OOP/v17/Browse.VC.db-shm
/.vs/OOP/v17/Browse.VC.db
/.vs/OOP/v17/.suo
/.vs/OOP/v17
/.vs/OOP/FileContentIndex/read.lock
/.vs/OOP/FileContentIndex/baad6551-ac86-42f1-a4de-b4a3d4aea315.vsidx
/.vs/OOP/FileContentIndex/ac45cc22-8292-4550-9c90-149da7c902d7.vsidx
/.vs/OOP/FileContentIndex
/.vs/OOP
/.vs/CMake Overview
/.vs
